{% extends 'visitors_guestbook/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="panel-body marginleft20 marginright20">
                <h1>Visitor History</h1>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-4 text-center" style="padding:16px"> <span> <b>Name :</b><br/> {{ visitor.name }} </span></div>
                        <div class="col-sm-4 text-center" style="padding:16px"> <span> <b>Address :</b><br/> {{ visitor.address }} </span></div>
                        <div class="col-sm-4 text-center" style="padding:16px"> <span> <b>Email :</b><br/> {{ visitor.email }} </span></div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-sm-4" >
                            <a  href="#" class="text-center">
                                <h3>{{ total_visit_for_this_week }}</h3>
                                <p>VISIT THIS WEEK</p>
                            </a>
                        </div>
                         <div class="col-sm-4" >
                            <a  href="#" class="text-center">
                                <h3>{{ total_vist_for_this_month }}</h3>
                                <p>VISIT THIS MONTH</p>
                            </a>
                        </div>
                        <div class="col-sm-4" >
                            <a  href="#" class="text-center">
                                <h3>{{ total_vist }}</h3>
                                <p>TOTAL VISIT</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="panel-body marginleft20 marginright20">

                <div class="box-body marginbottom10 margintop20">
                    <h3 class="box-title">List of Visits</h3>
                    <div class="table-responsive">
                        <table id="visits" class="table table-striped table-bordered">
                            <!--<caption>Table caption</caption>-->
                            <thead>
                            <th class="left">SN</th>
                            <th class="left">To See</th>
                            <th class="left">Purpose</th>
                            <th class="left">Check In Date</th>
                            </thead>
                            <tbody>
                            {% for visit in visit_history %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{visit.to_see}}</td>
                                        <td>{{visit.visit_purpose}}</td>
                                        <td>{{visit.check_in_date}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <th class="left">SN</th>
                            <th class="left">To See</th>
                            <th class="left">Purpose</th>
                            <th class="left">Check In Date</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="panel-body marginleft20 marginright20">

                <div class="box-body marginbottom10 margintop20">
                    <h4 >List of  Detail Changes</h4>
                    <div class="table-responsive">
                        <table id="details_changes" class="table table-striped table-bordered">
                            <!--<caption>Table caption</caption>-->
                            <thead>
                            <th class="left">SN</th>
                            <th class="left">Field</th>
                            <th class="left">Change From</th>
                            <th class="left">Change To</th>
                            <th class="left">Date</th>
                            </thead>
                            <tbody>
                            {% for change_detail in change_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{change_detail.field}}</td>
                                        <td>{{change_detail.from_value}}</td>
                                        <td>{{change_detail.to_value}}</td>
                                        <td>{{change_detail.date_created}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                           <th class="left">SN</th>
                            <th class="left">Field</th>
                            <th class="left">Change From</th>
                            <th class="left">Change To</th>
                            <th class="left">Date</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer clearfix"></div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
    // DataTable
        var table = $('#visits').DataTable();
        var table = $('#details_changes').DataTable();
    });
</script>
{% endblock script %}
